﻿@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>PostRequestHelper</title>
  
</head>
<body>
  <h2>Post Request Helper Page</h2>
  <form method="post" action="index">
    <input type="text" name="insert" placeholder="paste your json here" />
    <input type="submit" value="отправить" />
  </form>
</body>
</html>
